* {
  border-radius: 0 !important;
}

.App .listContainer a {
  display: block;
  width: 100%;
  padding: 1.5em 1.25em;
}

.navbar {
  margin-bottom: 1rem;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: baseline !important;
  margin-top: 1em;
}

.listContainer a {
  display: block;
}

.App h2,
.listHeadline h4 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.App h2 a {
  margin-right: .66rem;
}

.tickItemButton {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 1.25em;
}

.navbar ul button {
  padding-left: 0;
}

.dropdown-toggle::before {
  display: none !important;
}

.App button.actionLink {
  padding: 0;
}

.App .dropdown-menu button {
  width: 100%;
  text-align: left;
}

.App h5 {
  display: inline;
  margin: 0;
}

.listContainer a {
  color: black;
  cursor: pointer;
  text-decoration: none !important;
}

#addNewListForm input,
#addNewItemForm input {
  border: 0;
  border-top: 1px solid #ccc;
  outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#addNewListForm button,
#addNewItemForm button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listContainer .dropdown {
  width: 100%;
  text-align: center;
}

.listItem {
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listHeadline {
  display: flex;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
}

.listHeadline h4 {
  margin-bottom: 0;
}
